.todo-container {
    margin: 100px auto 0;
    width: 800px;
    
}

.todo-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(236, 104, 21);
    font-size: 100px;
    text-align: center;
}

.todo-add {
    margin-top: 50px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-add input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    margin-right: 30px;
}

.todo-add button {
    max-width: 100px;
    max-height: 100px;
    border-radius: 999px;
    border : 1px solid rgb(248, 96, 13) ;
    font-size: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: rgb(248, 96, 13);
    cursor: pointer;
}

.todo-data {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }